fastapi==0.110.0
uvicorn==0.32.0
akasha-terminal==0.8.77
pypdf==5.1.0
langchain-core==0.3.27
langchain==0.3.13
langchain-community==0.3.13
langchain_openai==0.2.14
langchain-chroma==0.1.4
lark
chromadb==0.4.14
openai>=0.27
tiktoken
scikit-learn
jieba
sentence-transformers>=3.1.1
torch==2.2.0
transformers>=4.45.0
auto-gptq==0.3.1
tqdm==4.65.0
docx2txt==0.8
rouge==1.0.1
rouge-chinese==1.0.3
bert-score==0.3.13
click
tokenizers>=0.19.1
streamlit>=1.33.0
streamlit_option_menu>=0.3.6
rank_bm25
unstructured
python-pptx
wikipedia
opencc
google-cloud-aiplatform>=1.64
google-generativeai
langchain-google-genai
sentencepiece
anthropic
loguru
python-multipart
markitdown
unstructured[pdf]   